* {
    box-sizing: border-box;
    font-family: 'Nunito Sans',sans-serif;
}

body {
    margin: 0 auto;
    width: 1500px;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;

}

/* Style the top navigation bar */
.topnav {
    width: 83%;
    margin-left: 10%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    
}

/* Style the topnav links */
.topnav a {
    position: relative;
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
}


.a:link{
    color:#fff200;
}
.a:visited{
    color:#fff200;
}.a:hover{
    color:red;
}
.img_header{
    width: 100px;
    height: 45px;
    margin-left: 100px;
}
#search_item{
   border: 0;
   width: 400px;
   height: 100%;
}
.box_header{
    height: 35px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.box_search{
    display: flex;
}
.button_search{
    width: 10%;
    height: 100%;
}
.bar_item{
    width: 40%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.info_item{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.info_item>div{
    margin-left: 10px;
}
.info_item a{
    color: #000;
}
.info_item a:visited{
    color: #000;
}
.list_img{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
.list_img>a>img{
    width: 30px;
    margin-left: 20px;
}
.login{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.banner{
    display: flex;
}
.banner_left{
    margin-left: 10%;
}
.banner_left>img{
    margin-top: 18px;
}
.banner_right>img{
    margin-top: 20px;
}
.list_item{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px ;
    row-gap: 20px ;
    padding-left: 0;
}
.border_box{
    width: 80%;
    height: 200px;
    overflow: hidden;
    margin: auto;
}
.price{
    font-size: 1.5rem;
    color: #0996f5;
    margin: 20% 0 5px 0;
}
.infomation_product{
    margin: 0 0 20px 10px;
    
}
.list_item .onepiece_img{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: center;
}
.list_item img{
    width: 100%;
    padding-top: 20px;
    align-items: center;
}
.item{
    width: 100%;
    position: relative;
    border: #ddd 1px solid;
}
.item:hover{
    border: slategray 1px solid;
    box-shadow: 0 10px 10px #bdbdbd;
    transform: translateY(-3%);
    transition: -0.8s;
}
.link_item{
    text-decoration: none;
    line-height: 20px;
}
.link_item:visited{
    color: #333;
}
.link_item:hover{
    color: #0996f5;
}
.item:hover .order{
    display: block;
}
.order{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}
.order button{
   margin: 10% 0 0 10px;
   width: 43%;
   height: 100%;
   background-color: #333;
   color: #fff200;
}
.order button:hover{
    transform: translate(0,-3px);
    transition: 0.3s;
    opacity: 0.7;
}
.title_pokemon{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
.box_pokemon_items{
    width: 86%;
    position: relative;
    display: flex;
    justify-content: space-around;
    
    margin-left: 8.5%;
    z-index: 1;
}
.border_img_item{
    margin-top: 10%;
    overflow: hidden;
}
.box_pokemon_items img{
    width: 60%;
    height: 170px;
    translate: 35%;
    margin: auto;
    position: relative;
}
.describe{
    margin: 20% 0 0 5%;
    
}
.border_item{
    border: #ddd 1px solid;
    width: 17%;
    position: relative;
}
.border_item:hover .order{
    display: block;
}
.footer{
    position: relative;
    width: 100%;
    height: 520px;
    background-color: #fff200;
    margin-top: 5%;
}
.box_footer{
    width: 80%;
    margin-left: 10%; 
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.box_footer a{
    text-decoration: none;
    color: #000;
}
.box_footer:visited{
    color: #000;
}
.follow_icon{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.follow_icon img{
    width: 60%;
    text-align: center;
}
.follow_icon a:hover .zoom { 
    transform: scale(1.5,1.5);
}
.cart_icon img{
    width: 100%;
}
.cart_icon{
    position: fixed;
    bottom: 10%;
    right:  0;
    width: 5%;
    border: #000 solid 1px;
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    background-color: #fff200;
   
}
.cart_icon:hover{
    transform: scale(1.2,1.2);
    transition: 0.3s;
}
